HappyScoopers_DW/.vs/HappyScoopers_DW/v15/.suo
HappyScoopers_DW/HappyScoopers_DW/HappyScoopers_DW.jfm
HappyScoopers_DW/HappyScoopers_DW/HappyScoopers_DW.sqlproj.user
HappyScoopers_DW/HappyScoopers_DW/bin/Debug/HappyScoopers_DW.dll
HappyScoopers_DW/HappyScoopers_DW/bin/Debug/HappyScoopers_DW.pdb
HappyScoopers_DW/HappyScoopers_DW/bin/Debug/HappyScoopers_DW.publish.sql
HappyScoopers_DW/HappyScoopers_DW/bin/Debug/HappyScoopers_DW_1.publish.sql
HappyScoopers_DW/HappyScoopers_DW/bin/Debug/HappyScoopers_DW_2.publish.sql
HappyScoopers_DW/HappyScoopers_DW/bin/Debug/HappyScoopers_Demo.dacpac
HappyScoopers_DW/HappyScoopers_DW/bin/Debug/HappyScoopers_DW.dacpac
HappyScoopers_DW/HappyScoopers_Demo/HappyScoopers_Demo.jfm
HappyScoopers_DW/HappyScoopers_Demo/HappyScoopers_Demo.sqlproj.user
HappyScoopers_DW/HappyScoopers_Demo/bin/Debug/DeploymentReport_1.txt
HappyScoopers_DW/HappyScoopers_Demo/bin/Debug/DeploymentReport.txt
HappyScoopers_DW/HappyScoopers_DW/obj/Debug/HappyScoopers_DW.dll
HappyScoopers_DW/HappyScoopers_DW/obj/Debug/HappyScoopers_DW.pdb
HappyScoopers_DW/HappyScoopers_DW/obj/Debug/HappyScoopers_DW.sqlproj.CopyComplete
HappyScoopers_DW/HappyScoopers_DW/obj/Debug/HappyScoopers_DW.sqlproj.FileListAbsolute.txt
HappyScoopers_DW/HappyScoopers_DW/obj/Debug/HappyScoopers_DW.sqlprojAssemblyReference.cache
HappyScoopers_DW/HappyScoopers_DW/obj/Debug/Model.xml
HappyScoopers_DW/HappyScoopers_Demo/bin/Debug/HappyScoopers_Demo_1.publish.sql
HappyScoopers_DW/HappyScoopers_Demo/bin/Debug/HappyScoopers_Demo_Create.sql
HappyScoopers_DW/HappyScoopers_Demo/bin/Debug/HappyScoopers_Demo.dacpac
HappyScoopers_DW/HappyScoopers_Demo/bin/Debug/HappyScoopers_Demo.dll
HappyScoopers_DW/HappyScoopers_Demo/bin/Debug/HappyScoopers_Demo.pdb
HappyScoopers_DW/HappyScoopers_Demo/bin/Debug/HappyScoopers_Demo.publish.sql
HappyScoopers_DW/HappyScoopers_Demo/obj/Debug/HappyScoopers_Demo.dll
HappyScoopers_DW/HappyScoopers_Demo/obj/Debug/HappyScoopers_Demo.pdb
HappyScoopers_DW/HappyScoopers_Demo/obj/Debug/HappyScoopers_Demo.sqlproj.FileListAbsolute.txt
HappyScoopers_DW/HappyScoopers_SSIS/HappyScoopers_SSIS.dtproj.user
HappyScoopers_DW/HappyScoopers_SSIS/obj/Development/BuildLog.xml
HappyScoopers_DW/HappyScoopers_SSIS/bin/Development/HappyScoopers_SSIS.ispac
HappyScoopers_DW/HappyScoopers_SSIS/obj/Development/HappyScoopers_Load.dtsx
HappyScoopers_DW/HappyScoopers_SSIS/obj/Development/HappyScoopers_SSIS.dtproj
HappyScoopers_DW/HappyScoopers_SSIS/obj/Development/Package.dtsx
HappyScoopers_DW/HappyScoopers_SSIS/obj/Development/Project.params
